<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
<header class="main-header" th:fragment="header">
    <div class="header-top">
        <div class="search-container">
            <form th:action="@{/main/search}">
                <input type="search" placeholder="검색" name="query"/>
                <button type="submit" class="search-icon">⚲</button>
            </form>
        </div>

        <div class="logo-container">
            <a th:href="@{/}"
            ><img th:src="@{/image/logo.png}" alt="Agit 로고"
            /></a>
        </div>

        <div class="user-container" th:if="${session.loginMember != null}">
            <div class="user-icon"></div>
            <div class="message-icon">✉️</div>
            <a class="signout-btn" th:href="@{/logout}">Sign Out</a>
        </div>

        <div class="user-container" th:if="${session.loginMember == null}">
            <a th:href="@{/login}" class="signout-btn">Sign In</a>
        </div>

    </div>

    <nav class="header-nav">
        <ul>
            <li><a th:href="@{/main?mainCategoryId=1}">꿀팁</a></li>
            <li><a th:href="@{/main?mainCategoryId=2}">질문</a></li>
            <li><a th:href="@{/main?mainCategoryId=3}">후기</a></li>
            <li><a th:href="@{/main?mainCategoryId=4}">잡담</a></li>
        </ul>
    </nav>
</header>
</body>
</html>
