<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header class="main-header" th:fragment="header">
    <div class="header-top">
        <div class="search-container">
            <form th:action="@{/main/search}">
                <input type="search" placeholder="검색" name="query"/>
                <button type="submit" class="search-icon">⚲</button>
            </form>
        </div>

        <div class="logo-container">
            <a th:href="@{/}"
            ><img th:src="@{/image/logo.png}" alt="Agit 로고"
            /></a>
        </div>
        <div class="user-container" sec:authorize="isAuthenticated()">

            <a th:href="@{|/members/${#authentication.principal.id}|}">
                <img class="user-icon"
                     th:src="${#authentication.principal.profileImg != null
                        ? #authentication.principal.profileImg
                        : '/image/emptyProfile.png'}"
                     th:alt="${#authentication.principal.nickname} + ' 프로필 사진'" />
            </a>
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button class="signout-btn" type="submit">Sign Out</button>
            </form>
        </div>

        <div class="user-container" sec:authorize="isAnonymous()">
            <a th:href="@{login/login}" class="signout-btn">Sign In</a>
        </div>

    </div>

</header>
</body>
</html>
