<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="recommendedContentFragment">
    <div class="content-list__section">
        <h3 class="content-list__title">추천글</h3>
        <ul th:if="${recommendedPosts != null and !recommendedPosts.isEmpty()}" th:each="post : ${recommendedPosts}">
            <li class="unstyled-list">
                <a th:href="@{|/board/detail/${post.id}|}" th:text="${post.title}" class="unstyled-link"></a>
            </li>
        </ul>
        <div th:if="${recommendedPosts == null or recommendedPosts.isEmpty()}"
             class="content-list__placeholder">게시물이 없습니다.
        </div>
    </div>
</div>
</html>