<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>login</title>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="login-wrapper">
        <form th:action="@{/login}" method="post">

        <h2>Please Sign in</h2>

            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="password" name="pwd" placeholder="Password" required>
            </div>

            <div class="options">
                <label>
                    <input type="checkbox" name="remember-me" id="remember-me">Remember me
                </label>

                <!-- 로그인 페이지 -->
                <div class="right-links">
                    <a th:href="@{/reset-password}">Find/Pw</a>
                    <span class="separator">|</span>
                    <a th:href="@{/members/signup}">Sign Up</a>
                </div>

            </div>



            <button type="submit" class="btn-signin">Sign in</button>
        </form>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<script>
    const urlParams = new URLSearchParams(window.location.search);

    // 로그인 성공/실패
    if (urlParams.get("loginSuccess") === "true") {
        alert("로그인 성공!");
    }
    if (urlParams.get("loginFail") === "true") {
        alert("로그인 실패! 이메일 또는 비밀번호 확인");
    }

    // 회원가입 성공/실패
    if (urlParams.get("signupSuccess") === "true") {
        alert("회원가입 완료!");
    }
    if (urlParams.get("signupFail") === "passwordMismatch") {
        alert("비밀번호 확인이 일치하지 않습니다");
    }
    if (urlParams.get("signupFail") === "emailExists") {
        alert("이미 사용 중인 이메일입니다");
    }
    if (urlParams.get("signupFail") === "nicknameExists") {
        alert("이미 사용 중인 닉네임입니다");
    }

    // 비밀번호 재설정 성공/실패
    if (urlParams.get("resetSuccess") === "true") {
        alert("비밀번호 변경 완료!");
    }
    if (urlParams.get("resetFail") === "passwordMismatch") {
        alert("비밀번호가 일치 하지 않습니다");
    }

    // model.addAttribute("error")는 thymeleaf에서 alert 처리 가능
</script>

</body>
</html>
